<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 

<section class = "contenedor-crear">
    <form action="/products" method="POST" class="formulario-crear" enctype="multipart/form-data">
        <div style = "width: 500px;">
            <% if (typeof errors != "undefined") { %>
                <% errors.forEach(error => { %>
                    <p><%= error.msg %> </p>
                <% }) %>			
            <% } %>
        </div>
        <h2 class="titulo-crear">The Tea Brand</h2>
        <p class="segundo-titulo-crear">Formulario de creacion de producto</p>
        <div class="campo-crear">
            <label for="name">Nombre del producto</label><br>
            <input type="text" class="input-crear" id="nombre_producto" name="name" placeholder="Nombre del producto"><br>
        </div>
        <div class="campo-crear">
            <label for="description">Descripcion del producto</label><br>
            <textarea name="description" id="descripcion" class="input-edicion" placeholder="Descripcion del producto"></textarea><br>
        </div>
        <div class="campo-crear">
            <label for="instructions">Indicaciones</label><br>
            <input type="text" class="input-crear" id="indicaciones" name="instructions" placeholder="Indicaciones"><br>
        </div>
        <div class="campo-crear">
            <label for="price">Precio del producto</label><br>
            <input type="text" class="input-crear" id="precio" name="price" placeholder="Precio"><br>
        </div>
        <div>
            <label for="image">Subi tu imagen</label>
            <input type="file" name="image" id= "image"/>
        </div>
        <button type="submit" class="boton-crear">Crear Producto</button>
    </form>
</section>


<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>