<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 

<div class="page-title">
    <h2>Nuestras Infusiones</h2>
</div>
<section class="contenedor-productos">
    <% productos.forEach(producto => { %>
        <article>
            <div class="foto-producto">
                <img class='grow' src=<%= "/images/" + producto.imagen %> >
            </div>
                <a href="<%= "/products/" + producto.id %>" class="overlay"> 
                <h2><%= producto.nombre_producto %></h2>
            </a>
        </article>
    <% }) %>
</section>

<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>