<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 
<section class = "contenedor-registro">

    <form action="/users/update/<%=user.id%>/?_method=PUT" method="POST" class="formulario-registro needs-validation" novalidate>
        <h2 class="titulo-registro">The Tea Brand</h2>
        <p class="segundo-titulo">Modificar Datos </p>
        
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" required name="first_name" value="<%=user.first_name%>">
                <div class="valid-feedback">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                      </svg>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" name="last_name" required value="<%=user.last_name%>">
                <div class="valid-feedback">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                      </svg>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom03">email</label>
                <input type="email" class="form-control" id="validationCustom03" required name="email" value="<%=user.email%>">
                <div class="invalid-feedback">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                      </svg>
                </div>
              </div>
            
              <div class="col-md-12 mb-3">
                <label for="validationCustom04">Roles</label>
                <select class="custom-select" id="validationCustom04" required name="roles">
                  <%if(user.roles[0]!=undefined){%>
                    <%for(var i=0;i<roles.length;i++){%>
                      <%if( roles[i].id==user.roles[0].id){%>
                  <option selected><%=roles[i].name%></option>
                
                  <%}else{%>
                  <option value="<%=roles[i].id%>"><%=roles[i].name%></option>
                  <%}}}%>
                </select>
                <div class="invalid-feedback">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                      </svg>
                </div>
              </div>
              
         
            <button class="btn btn-primary col-md-12 mb-3" type="submit">Modificar</button>
          </form>
</section>

<%include('../partials/footer')%> 
<%include('../partials/bootstrap')%> 

</body>

</html>