<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %> 

<body>

<%- include('partials/header')  %> 

<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <% let i = 0;%>
            <% productos.forEach(producto => { %>
                <a href="/products/<%= producto.id %>" class="carousel-item<%= i > 0 ? '' : ' active' %>" style="background: url('/images/<%= producto.image%>'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));">
                    <!-- <img src="images/te1.png" class="d-block w-100" alt="first slide"> -->
                    <div class="gradient"></div>
                    <div class="carousel-caption d-md-block">
                        <h1>The Tea Brand</h1>
                        <h2><%= producto.name %> </h2>
                        <p><%= producto.description %></p>
                    </div>
                </a>
            <% i++;
                }) %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> 
</main>

<%- include('partials/footer')  %> 


<%- include('partials/bootstrap')  %> 

</body>

</html>